:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
}

.small-h1 {
  font-size: 2.8em;
  line-height: 1.1;
  color: white;
}

p {
  font-size: 2.2em;
  line-height: 1.1;
  color: white;
}

.ps {
  font-size: 1.4em;
  line-height: 1.1;
  color: white;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.button-row {
  display: flex;
  gap: 60px; /* space between buttons */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.big-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-color: #1a1a1a;
  color: white;
  border-radius: 16px;
  cursor: pointer;
  position: relative;

  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}

.icon {
  font-size: 64px; /* make the icon big */
  margin: 1.5em;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: white;
}

.subtitle {
  font-size: 32px;
  margin: 0.8em;
}

button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center; /* optional: center the text */
  margin-bottom: 1em;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center; /* optional: center the text */
  background: #1a1a1a;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}